
/* google-font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');



/* custom-stylesheet
--------------------- */
body{
    font-family: 'Poppins', sans-serif;
}


/* header-styles
------------------ */
.toggler-color{
    color: rgb(255 255 255 / 55%) !important;
    border-color: rgb(255 255 255 / 10%) !important;
}
.nav-color{
    background-color: #264653;
}
.login a{
    background: #E76F51;
}
.purchase{
    background: #E76F51;
    border-radius: 5px;

}

/* banner-section
------------------ */
.banner-section{
    background: #264653;
    padding:69px 0 90px 0;
}
.banner-clm-left{
    width: 480px;
}
.banner-clm-left .text-p2{
    color: #E0E0E0;

}


/* feature-section */
.feature-p{
    color: #E76F51;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 2px;
}
.blank{
    margin: 0 auto;
    width: 58.5px;
    height: 0px;
    border: 1px solid #E76F51;
}
.bike-container{
    margin: 120px 0px;
}
.bike-container img{
    width: 288px;
    height: 243px;
}
.bike-container .img-grayscale{
    filter: grayscale(100%);
}


/* testimonial-section */
.testimonial-title{
    color: #0A0826;
}
.testimonial-title span{
    color: #E76F51;
}
.card-width img{
    height: 149px;
    width: 149px;
    text-align: center;
}
.card-width .third{
    border-radius: 50%;
    border: 1px solid #BDBDBD;
}
.card-p-text{
    color: #6C6C6C;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.2px;
}
.icon .filled{
    color: #E77C40;
}
.icon .empty{
    color: #E77C40;
}
.user-name{
    color: #23A6F0;
}



/* FAQ-section
--------------- */
.faq-title span{
    color: #E76F51;
  
}
.faq-img-container img{
    width: 431.2px;
    height: 423.5px;
}
.ac-title{
    color: #383838;
    font-size: 20px;
    line-height: 28px;
}
.ac-body-text{
    color: #7E848C;
}


/* offer-section
------------------ */
.offer-section{
     background: #264653;
}
.offer-h2 span{
    color: #c23616;
    font-weight: 600;
}



/* contact-section
------------------- */
.service-clm-container .left h3, .right h3{
    color: #7E848C;
    font-size: 24px;
    margin-bottom: 30px;
}
.service-clm-container .check-color{
    color: #EE5321;
    margin-right: 10px;
}
.btn-align{
    text-align: center;
}



/* footer
----------- */
footer{
    background-color: #0B0D17;
}



                        /* media query
------------------------------------------------------------- */


/* mobile-device
------------------ */
@media only screen and (max-width:688px) {
.banner-section{
    padding:40px 0 30px 0;
}
.bike-container {
    margin-bottom: 20px;
}
.sm-img{
    width: 100%;
}
.sm-img-margin{
    margin-bottom: 60px;
}
.faq-img-container{
    width: auto;
}
.faq-img-container .sm-img{
    width: 100%;
}
.sm-ac-margin{
    margin-top: 20px;
    margin-left: 0px !important;
}
.banner-clm-right {
    padding: 30px 0;
}

}
